@use "../../utils/mixins" as mixin;
@use "../../utils/variables" as var;

.shop {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  position: relative;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;

  @include mixin.on-mobile {
    @include mixin.flex(flex, center, center, column);
  }

  @include mixin.on-tablet {
    @include mixin.flex(flex, center, center, column);
  }

  @include mixin.on-desktop {
    @include mixin.flex(flex, center, end, column);
  }

  @include mixin.on-design {
    @include mixin.flex(flex, center, end, column);
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    color: var.$text-color;

    @include mixin.on-mobile {
      @include mixin.typ-tablet-text;

      margin-bottom: 10px;
    }

    @include mixin.on-tablet {
      @include mixin.typ-mobile-h1;
    }

    @include mixin.on-desktop {
      @include mixin.typ-mobile-h1;
    }

    @include mixin.on-design {
      @include mixin.typ-tablet-h1;
    }
  }

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    margin-bottom: 10px;
  }

  &__img-container {
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    max-height: 330px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s linear;

    &:hover {
      @include mixin.hover-effect;

      transition: transform 0.3s linear;
    }
  }

  &__big-img-container {
    width: 100%;
    height: 35%;
  }

  &__big-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
